<! DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
    <div class="d-flex align-items-center justify-content-center vh-25">
        <div class="text-center">
            <h1 class="display-1 fw-bold">403</h1>
            <p class="fs-3"><span class="text-danger">Loi! </span> Ban không co quyen truy cap</p>
            <p class="lead">
                Bạn không co quyền truy cap vao trang nay.
            </p>
            <a href="/" class="btn btn-primary">Trở về trang chu</a>
        </div>
    </div>
    <th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>